.battery.charging {
    background-color: rgba(0, 255, 0, 0.4);
}

.battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

.battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
